.content {
    width: 1300px;
    height: 100px;
    background: lightblue;
    position: relative;
}

#img1 {
    position: absolute;
    top: 20px;
    left: 10px;
}


#img2 {
    position: absolute;
    top: 60px;
    left: 10px;
}

button {
    margin: 10px 20px;
    padding: 15px 20px;
    font-weight: bold;
}

p {
    position: absolute;
    top: 120px;
    right: 150px;
}